
.roboto {
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 87.5;
  }

  .font{
    font-family: 'Courier New';
  }

.box{text-shadow: 1px 1px 2px rgb(137, 127, 127);}

.list-style li{
list-style-type: disc !important;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 75;
  }

  .rubik {
    font-family: "Rubik Mono One", monospace;

    font-style: normal;
  }







